lab/
parse_ozon/
tests/
model/
scripts/__pycache__
detector/__pycache__
detector/dependencies/__pycache__
detector/misc/__pycache__
detector/routers/__pycache__
detector/services/__pycache__
detector/schemas/__pycache__
parser/__pycache__
parser/dependencies/__pycache__
parser/misc/__pycache__
parser/routers/__pycache__
parser/services/__pycache__
parser/schemas/__pycache__
.env
bot/__pycache__
bot/handlers/__pycache__
bot/misc/__pycache__
bot/dependencies/__pycache__
bot/services/__pycache__
bot/keyboard/__pycache__
local_lab
.ipynb_checkpoints
mongo/
data
tf_detector
docker/tf_detector.Dockerfile
docker-compose-dev.yml